# 0.0 Divide your data into distributed train, val and test sets

Our file todo.txt contains all the images and it corresponding classes. Now we want to split our images into train, val and test files.

In [20]:
import os

import matplotlib.pylab as plt
import numpy as np
import pandas as pd
from tqdm import tqdm

import imgclas
from imgclas import paths, config
from imgclas.data_utils import load_image, load_data_splits, augment, load_class_names

from sklearn.model_selection import train_test_split

CONF = config.get_conf_dict()

# Customize your image folder if needed
# CONF['general']['images_directory'] = '/media/ignacio/Datos/datasets/semillas/datasets'  # absolute path to image_folder

splits_dir = paths.get_splits_dir()

# Load the data
data = pd.read_csv(splits_dir+'/todo.txt', sep=" ", header=None, names=['image', 'clase'])

In [21]:
data

                                         image  clase
0    Est_Mad_J_Bor_225_nd_nf_bl_con_al_inf.jpg      4
1      Est_Mad_J_Bor_50_nd_f_bl_con_ce_cen.jpg      0
2     Est_Mad_J_Bor_225_nd_f_bl_con_ce_sup.jpg      4
3     Est_Mad_J_Bor_175_nd_f_bl_sin_me_inf.jpg      3
4     Est_Mad_J_Bor_125_nd_f_bl_sin_ce_sup.jpg      2
..                                         ...    ...
523  Est_Mad_J_Bor_150_nd_f_bl_sin_me_sup1.jpg      2
524   Est_Mad_J_Bor_75_nd_nf_bl_con_ce_cen.jpg      1
525  Est_Mad_J_Bor_125_nd_nf_bl_con_me_sup.jpg      2
526  Est_Mad_J_Bor_300_nd_f_bl_con_al_sup1.jpg      5
527  Est_Mad_J_Bor_300_nd_nf_bl_con_ce_sup.jpg      5

[528 rows x 2 columns]

In [23]:
# https://machinelearningmastery.com/train-test-split-for-evaluating-machine-learning-algorithms/
from collections import Counter
print(Counter(data.clase))

Counter({4: 96, 3: 96, 2: 96, 5: 96, 1: 96, 0: 48})

In [38]:
# split into train test sets
X_train, X_2, y_train, y_2 = train_test_split(data.image, data.clase, test_size=0.30, random_state=1, stratify=data.clase)
print(Counter(y_train))
print(Counter(y_2))

Counter({4: 67, 1: 67, 5: 67, 2: 67, 3: 67, 0: 34})
Counter({1: 29, 4: 29, 2: 29, 5: 29, 3: 29, 0: 14})

In [39]:
X_test, X_val, y_test, y_val = train_test_split(X_2, y_2, test_size=0.33, random_state=1, stratify=y_2)
print(Counter(y_test))
print(Counter(y_val))

Counter({3: 20, 5: 19, 1: 19, 4: 19, 2: 19, 0: 10})
Counter({5: 10, 2: 10, 1: 10, 4: 10, 3: 9, 0: 4})

In [47]:
train=pd.DataFrame(data={'image': X_train, 'clase': y_train})
train.to_csv(r'/srv/image-classification-tf/data/dataset_files/train.txt', sep=' ', index=None, header=None, mode='a')

In [48]:
val=pd.DataFrame(data={'image': X_val, 'clase': y_val})
val.to_csv(r'/srv/image-classification-tf/data/dataset_files/val.txt', sep=' ', index=None, header=None, mode='a')

In [49]:
test=pd.DataFrame(data={'image': X_test, 'clase': y_test})
test.to_csv(r'/srv/image-classification-tf/data/dataset_files/test.txt', sep=' ', index=None, header=None, mode='a')