# 0.0 Divide your data into distributed train, val and test sets

Our file todo.txt contains all the images and its corresponding classes. Now we want to split our images into train, val and test files, so that the classes are well distributed (e.g. if the dataset is highly imbalanced the images are not randomly separated).

In [2]:
import os

import matplotlib.pylab as plt
import numpy as np
import pandas as pd
from tqdm import tqdm

import imgclas
from imgclas import paths, config

from sklearn.model_selection import train_test_split

CONF = config.get_conf_dict()

# Customize your image folder if needed
# CONF['general']['images_directory'] = '/media/ignacio/Datos/datasets/semillas/datasets'  # absolute path to image_folder

# splits_dir = paths.get_splits_dir()
splits_dir = '/srv/images_classes/Regression/Madrid/copa Char'

# Load the data
data = pd.read_csv(splits_dir+'/copaChar_reg.txt', sep="*", header=None, names=['image', 'clase'])

In [3]:
data

                                                 image  clase
0    /srv/datos/Laboratorio/Madrid/copa Char/Fondo ...    200
1    /srv/datos/Laboratorio/Madrid/copa Char/Fondo ...    200
2    /srv/datos/Laboratorio/Madrid/copa Char/Fondo ...    200
3    /srv/datos/Laboratorio/Madrid/copa Char/Fondo ...    200
4    /srv/datos/Laboratorio/Madrid/copa Char/Fondo ...    125
..                                                 ...    ...
811  /srv/datos/Laboratorio/Madrid/copa Char/Fondo ...    100
812  /srv/datos/Laboratorio/Madrid/copa Char/Fondo ...    200
813  /srv/datos/Laboratorio/Madrid/copa Char/Fondo ...    225
814  /srv/datos/Laboratorio/Madrid/copa Char/Fondo ...    200
815  /srv/datos/Laboratorio/Madrid/copa Char/Fondo ...    150

[816 rows x 2 columns]

In [4]:
# https://machisnelearningmastery.com/train-test-split-for-evaluating-machine-learning-algorithms/
from collections import Counter
print(Counter(data.clase))

Counter({200: 108, 125: 108, 50: 108, 175: 108, 150: 108, 100: 108, 75: 108, 225: 60})

In [14]:
# split into train test sets
X_train, X_2, y_train, y_2 = train_test_split(data.image, data.clase, test_size=0.20, random_state=1, stratify=data.clase)
print(Counter(y_train))
print(Counter(y_2))

Counter({200: 87, 100: 87, 75: 86, 50: 86, 175: 86, 125: 86, 150: 86, 225: 48})
Counter({50: 22, 150: 22, 175: 22, 75: 22, 125: 22, 200: 21, 100: 21, 225: 12})

In [15]:
X_test, X_val, y_test, y_val = train_test_split(X_2, y_2, test_size=0.5, random_state=1, stratify=y_2)
print(Counter(y_test))
print(Counter(y_val))

Counter({75: 11, 125: 11, 175: 11, 100: 11, 50: 11, 150: 11, 200: 10, 225: 6})
Counter({50: 11, 125: 11, 150: 11, 175: 11, 200: 11, 75: 11, 100: 10, 225: 6})

In [22]:
train=pd.DataFrame(data={'image': X_train, 'clase': y_train})
train.to_csv(r'/srv/images_classes/Regression/Madrid/copa Char/train.txt', sep='*', index=None, header=None, mode='a')

In [23]:
val=pd.DataFrame(data={'image': X_val, 'clase': y_val})
val.to_csv(r'/srv/images_classes/Regression/Madrid/copa Char/val.txt', sep='*', index=None, header=None, mode='a')

In [24]:
test=pd.DataFrame(data={'image': X_test, 'clase': y_test})
test.to_csv(r'/srv/images_classes/Regression/Madrid/copa Char/test.txt', sep='*', index=None, header=None, mode='a')

In [25]:
len(train)

652

In [26]:
len(val)

82

In [27]:
len(test)

82