# 0.0 Divide your data into distributed train, val and test sets

Select the file *.txt that contains all the images and its corresponding classes. Now we want to split our images into train, val and test files, so that the classes are well distributed (e.g. if the dataset is highly imbalanced the images are not randomly separated).

In [1]:
import os

import matplotlib.pylab as plt
import numpy as np
import pandas as pd
from tqdm import tqdm

import imgclas
from imgclas import paths, config

from sklearn.model_selection import train_test_split

CONF = config.get_conf_dict()

# Customize your image folder if needed
# CONF['general']['images_directory'] = '/media/ignacio/Datos/datasets/semillas/datasets'  # absolute path to image_folder

# splits_dir = paths.get_splits_dir()
splits_dir = '/srv/images_classes/Regression/Madrid'

# Load the data
data = pd.read_csv(splits_dir+'/CopasVasosAll_reg.txt', sep="*", header=None, names=['image', 'clase'])

In [2]:
data

                                                  image  clase
0     /srv/datos/Laboratorio/Madrid/vaso Chato/Fondo...    100
1     /srv/datos/Laboratorio/Madrid/vaso Chato/Fondo...     50
2     /srv/datos/Laboratorio/Madrid/vaso Chato/Fondo...     50
3     /srv/datos/Laboratorio/Madrid/vaso Chato/Fondo...    175
4     /srv/datos/Laboratorio/Madrid/vaso Chato/Fondo...    175
...                                                 ...    ...
7560  /srv/datos/Laboratorio/Madrid/copa Cata/Fondo ...     50
7561  /srv/datos/Laboratorio/Madrid/copa Cata/Fondo ...     75
7562  /srv/datos/Laboratorio/Madrid/copa Cata/Fondo ...     75
7563  /srv/datos/Laboratorio/Madrid/copa Cata/Fondo ...     50
7564  /srv/datos/Laboratorio/Madrid/copa Cata/Fondo ...     75

[7565 rows x 2 columns]

In [16]:
# https://machisnelearningmastery.com/train-test-split-for-evaluating-machine-learning-algorithms/
from collections import Counter
print(Counter(data.clase))

Counter({175: 852, 125: 852, 100: 851, 75: 851, 150: 851, 50: 842, 200: 625, 225: 587, 250: 527, 275: 420, 300: 307})

In [17]:
# split into train test sets
X_train, X_2, y_train, y_2 = train_test_split(data.image, data.clase, test_size=0.198, random_state=1, stratify=data.clase)
print(Counter(y_train))
print(Counter(y_2))

Counter({125: 683, 75: 683, 175: 683, 150: 683, 100: 682, 50: 675, 200: 501, 225: 471, 250: 423, 275: 337, 300: 246})
Counter({175: 169, 100: 169, 125: 169, 75: 168, 150: 168, 50: 167, 200: 124, 225: 116, 250: 104, 275: 83, 300: 61})

In [18]:
X_test, X_val, y_test, y_val = train_test_split(X_2, y_2, test_size=0.5, random_state=1, stratify=y_2)
print(Counter(y_test))
print(Counter(y_val))

Counter({100: 85, 125: 85, 175: 84, 150: 84, 75: 84, 50: 83, 200: 62, 225: 58, 250: 52, 275: 42, 300: 30})
Counter({175: 85, 100: 84, 50: 84, 125: 84, 150: 84, 75: 84, 200: 62, 225: 58, 250: 52, 275: 41, 300: 31})

In [19]:
train=pd.DataFrame(data={'image': X_train, 'clase': y_train})
train.to_csv(r'/srv/images_classes/Regression/Madrid/train.txt', sep='*', index=None, header=None, mode='a')

In [20]:
val=pd.DataFrame(data={'image': X_val, 'clase': y_val})
val.to_csv(r'/srv/images_classes/Regression/Madrid/val.txt', sep='*', index=None, header=None, mode='a')

In [21]:
test=pd.DataFrame(data={'image': X_test, 'clase': y_test})
test.to_csv(r'/srv/images_classes/Regression/Madrid/test.txt', sep='*', index=None, header=None, mode='a')

In [22]:
len(train)

6067

In [23]:
len(val)

749

In [24]:
len(test)

749